build
.DS_Store
ios/draggable.xcodeproj/project.xcworkspace/xcuserdata/zpapp.xcuserdatad/UserInterfaceState.xcuserstate
ios/draggable.xcodeproj/project.xcworkspace/xcuserdata/zpapp.xcuserdatad/WorkspaceSettings.xcsettings
ios/draggable.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/Build & Test.xcscheme
ios/draggable.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/draggable.xcscheme
ios/draggable.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/xcschememanagement.plist
